.footer {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  
  &__newsletter {
    margin-bottom: 20px;
    padding: 20px;
    
    .footer__title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .footer__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .footer__input-group {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 100%;
        max-width: 500px;
      }

      .footer__input {
        flex: 1;
        min-width: 200px;
        padding: 10px;
        border: none;
        border-radius: 5px;
      }

      .footer__button {
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
  
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5%;
    border-top: #F9F695 2px solid;
    border-bottom: #F9F695 2px solid;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__column {
    min-width: 150px;
    text-align: left;
    margin-bottom: 20px;
    .footer__toogle {
      .d-action{
        display: none;
      } 
    }

    .footer__heading {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .footer__list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 5px;
        
        a {
          text-decoration: none;
          color: #fff;
          transition: color 0.3s;
          
          &:hover {
            color: #F9F695;
          }
        }
      }
    }
  }

  &__bottom {
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .footer__copyright {
      font-size: 0.9rem;
    }

    .footer__links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      li a {
        color: #fff;
        font-size: 0.9rem;
        transition: color 0.3s;
        text-decoration: none;

        &:hover {
          color: #F9F695;
        }
      }
    }

    .footer__social {
      display: flex;
      gap: 15px;

      a {
        color: #fff;
        font-size: 1.2rem;
        transition: color 0.3s;

        &:hover {
          color: #c9b555;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    background-color: #000;
    color: #fff;
    text-align: center;

    &__newsletter {

      .footer__title {
        font-size: 1.2rem;
      }

      .footer__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__input {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
        }

        .footer__button {
          width: auto;
          padding: 10px 20px;
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff;
          border-radius: 5px;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      gap: 0;
      padding-top: 30px;

      .footer__column {
        // width: 100%;
        text-align: left;
        // margin-bottom: 0;
        // border-bottom: 1px solid #333;
        .footer__toogle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 15px;
          cursor: pointer;
        }
  
        .footer__heading {
          // text-align: center;
          flex: 2;
          font-size: 20px;
          font-weight: 400;
          margin: 0;
          text-transform: uppercase;
        }
  
        .d-action {
          // width: 20px; // Set a fixed width for the chevron container
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .bi-chevron-down {
          transition: transform 0.3s ease;
        }
  
        &.active {
          .bi-chevron-down {
            transform: rotate(180deg);
          }
        }

        .footer__list {
          display: none;
          padding: 10px 0;

          &.active {
            display: inline;
          }

          li {
            margin-bottom: 10px;

            a {
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    &__bottom {
      padding: 20px;
      flex-direction: column;
      align-items: center;

      .footer__links {
        order: -1;
        margin-bottom: 15px;

        li {
          margin-bottom: 10px;
        }
      }

      .footer__social {
        margin-bottom: 15px;

        a {
          font-size: 1.5rem;
          margin: 0 10px;
        }
      }

      .footer__copyright {
        font-size: 0.8rem;
      }
    }
  }
}