<f:layout name="Default" />

<f:section name="Main">
    
    <div class="swiper brand-slider">
        <h1 class="section-title">{data.header}</h1> 
        <div class="swiper-wrapper">
            <f:for each="{brand}" as="item">
                <f:if condition="{item.image}">
                    <f:for each="{item.image}" as="image">
                        <div class="swiper-slide">
                            <f:image class="hero-img" image="{image}" alt="{item.data.title}" treatIdAsReference="true" />
                            <div class="slide-content">
                                <div class="brand-text">
                                    <h2 class="slide-title">{item.data.header}</h2>
                                    <p class="slide-subtitle">{item.data.subheader}</p>
                                </div>
                                <f:if condition="{item.data.button_link}">
                                    <f:link.typolink parameter="{item.data.button_link}" class="slide-button">
                                        {item.data.button_text}
                                    </f:link.typolink>
                                </f:if>
                            </div>
                        </div>
                    </f:for>
                </f:if>
            </f:for>
        </div>

        <!-- Navigation Arrows -->
        <div class="brand-prev swiper-button-prev"></div>
        <div class="brand-next swiper-button-next"></div>
        <br><br>
        <!-- Pagination -->
        <div class="brand-pag swiper-pagination"></div>
    </div>
</f:section>

